<div class="container">
  <div class="row">
    <div>
      <h3>マイページ</h3>
    </div>
  </div>

  <div class="row">
                <table class="table table-bordered">
                <tr>
                    <th class="col-lg-2 active">氏名</th>
                    <td><%= @customer.first_name %> <%= @customer.last_name %></td>
                </tr>
                <tr>
                    <th class="col-lg-2 active">カナ</th>
                    <td><%= @customer.kana_first_name %> <%= @customer.kana_last_name %></td>
                </tr>
                <tr>
                    <th class="col-lg-2 active">郵便番号</th>
                    <td><%= @customer.postcode %></td>
                </tr>
                <tr>
                    <th class="col-lg-2 active">住所</th>
                    <td><%= @customer.address %></td>
                </tr>
                <tr>
                    <th class="col-lg-2 active">電話番号</th>
                    <td><%= @customer.phone_number %></td>
                </tr>
                <tr>
                    <th class="col-lg-2 active">メールアドレス</th>
                    <td><%= @customer.email %></td>
                </tr>
            </table>

  </div>


  </div>

</div>