<table class ="table table-bordered">
  <thead class = "thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan ="2"></th>
    </tr>
  </thead>
  <tbody>
    <% shippings.each do |shipping| %>
      <tr>
        <td><%= shipping.zip_code %></td>
        <td><%= shipping.address %></td>
        <td><%= shipping.name %></td>
        <td>
          <%= link_to edit_shipping_path(shipping.id) do %>
            <button class ="btn btn-success">編集</button>
          <% end %>
        </td>
        <td>
          <%= link_to shipping_path(shipping.id), method: :delete, data: { confirm: '本当に消しますか？' } do %>
            <button class = "btn btn-danger">削除</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>