<table class ="table table-bordered">
  <thead class = "thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan ="2"></th>
    </tr>
  </thead>
  <tbody>
    <% shippings.each do |shipping| %>
    <tr>
      <tb><%= shipping.zip_code %></tb>
      <tb><%= shipping.address %></tb>
      <tb><%= shipping.name %></tb>
      <tb>
        <%= link_to edit_shipping_path(shipping) do %>
          <button class ="btn btn-success">編集</button>
        <% end %>
      </tb>
      <tb>
        <%= link_to shipping_path(shipping), method: :delete, data: { confirm: '本当に消しますか？' } %>
          <button class = "btn btn-danger">削除</button>
        <% end %>
      </tb>
    </tr>
  </tbody>
</table>