<div class="container">
  <div class="row my-5">
    <div class = "col-4 text-center">
      <h3>配送先編集</h3>
    </div>
    <%= render "public/shippings/error", obj: @shipping %>
  </div>
  <div class="row">
    <table class="table table-borderless table-sm">
      <%= form_with model: @shipping, local: true do |f| %>
        <tr>
          <th><%= f.label :zip_code,"郵便番号(ハイフンなし)" %></th>
          <td class = "col-7">
            <%= f.text_field :zip_code, class: "form-control", placeholder: "1231234" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :address,"住所" %></th>
          <td class = "col-7">
            <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木00-00-00" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :name, "宛名" %></th>
          <td class = "col-7">
            <%= f.text_field :name, class: "form-control", placeholder: "干柿 令和" %>
          </td>
          <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>