<div class="container">
  <div class="row my-5">
    <div class = "col-4 text-center">
      <h2>配送先登録・一覧</h2>
    </div>
  </div>
  <div class="row">
    <table class="table table-borderless table-sm">
      <%= form_with model: @shipping, local: true do |f| %>
      <tr>
        <th><%= f.label :zip_code,"郵便番号(ハイフンなし)" %></th>
        <td class = "col-7">
          <%= f.text_field :zip_code, class: "form-control", placeholder: "0000000" %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :address,"住所" %></th>
        <td class = "col-7">
          <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木00-00-00" %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :name, "宛名" %></th>
        <td class = "col-7">
          <%= f.text_field :name, class: "form-control", placeholder: "スイーツ 好子" %>
        </td>
        <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="row">
    <dive class ="col-8">
      <%= render "public/shippings/index", shippings: @shippings %>
    </dive>
  </div>
</div>