<div class="container">

      <div class="text-center">
        <h4>ようこそながのCAKEへ！<br />
        このサイトは、ケーキ販売のECサイトになります<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。</h4>
　　  </div>

      <div class ="row">
        <div class = "col-4">
          <h2>新着商品</h2>
        </div>
      </div>
      
      <div class="row">
        <% @items.first(4).each do |item| %>
          <div class="captopn">
            <%= link_to customer_item_path(item.id) do %> <!-- 画像クリックで商品詳細へ遷移 -->
              <%= attachment_image_tag item, :item_image, allback: "no_image.png", size:'300x200' %>
            <% end %>
            <p><%= item.name %></p>
            <p>￥<%= (item.tax_included) %>></p>
          </div>
        <% end %>
      </div>
  <%= paginate @items %>
</div>