<main>
  <div calss = "containar">
    <div class = "row">
        <h2>注文情報入力</h2>
        <!--bootstrapのマス指定-->
        <!--下記ハリボテならば?どうする-->
        <%= form_with model: @customer, local:true do |f|%>
        <div class="form-group">
          <% 支払方法 %>
          <%= f.radio_button :payment_method, "credit_card" %>
　　　　  <%= f.label :payment_method, "クレジットカード" %>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method, "銀行振込" %>
          <%= f.radio_botton :payment_method, :credit_card, checked: true %>
        </div>
        <% end %>
        <%= form_with model: @shipping, local:true do |f| %>
          <div class="form-group">
            <% お届け先 %>
          </div>
            <div class="form-group">
              <%= f.radio_button :address, xxxxx %>
              <%= f.label :address, "ご自身の住所" %>
            </div>
            <div class="form-group">
              <%= f.radio_button :address, xxxxx %>
　　　　      <%= f.label :shipping_id, "登録済住所から選択" %>
　　　　      <%= f.select :shipping_id, options_from_collection_for_select(Address.all, :id, :shipping_display) %>
            </div>
            <div>
　　　　      <%= f.radio_button %>
　　　　      <%=f.label class："新しいお届け先" %>
　　　　      <!--上記コード2行自信なし-->
　　　　      <%= f.label :zip_code %>
　　　　      <%= f.text_field :zip_code, class: 'form-control shipping_zip_code'%>
　　　　      <%= f.label :address %>
　　　　      <%= f.text_field :address, class: 'form-control shippng_address', :size=> "30" %>
　　　　      <%= f.label :name,%>
　　　　      <%= f.text_field :name, class: 'form-control shipping_name' %>
　　　　  </div>
        <% end %>
　　　　    <%= f.submit "注文画面へ進む", class: "btn btn-success" %>
      </div>
  </div>
</main>