<main>
  <div calss = "containar">
    <div class = "row">
      <div class = "col-xs-6">
      <h2>注文情報確認</h2>
      <!--表を導入-->
      　<thead>
      　 <th><%= @item.name %>商品名
　      <%= @item.price %>単価(税込)
        <%= @order.amount %>数量
        <%= @order.quantity %>小計
        </th>
        </thead>
        <tbody>
        <tr>
          <td><%= @item_image item.XXXXpathXXXX, size:'60x60' %></td>
          <td><%= @item.name %></td>
          <td><%= @item.price %></td>
          <td><%= xxxxxx  %></td>
        </tr>
        </tbody>
      </div>

  <%= form_with model:[@item, @order], url:(item_order_path) do |f| %>
  <div class = "cpl-xs-3 offset-xs-2">
    <th><%= f.hidden_field :postage, :value => 800 %>送料</th>
    <th><%= f.hidden_field :xxxxxx %>商品合計</th>
    <th><%= f.hidden_field :total_amount %>請求金額</th>
    <p><strong>支払方法 </strong><%= @order.payment_method %></p><br>
		<p><strong>お届け先 </strong><%= @order.zip_code %> <%= @order.address %> <%= @order.name %></p><br>
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <%= link_to "注文を確定する", customers_orders_complete_path, class: 'btn btn-primary col-xs-12' %>
  </div>
  <% end %>
</main>